[Unit]
Description=Voicecall manager
Requires=dbus.socket ngfd.service tone-generator.service

[Service]
ExecStart=/usr/bin/voicecall-manager
Restart=always
