[Unit]
Description=Voicecall manager
Requires=dbus.socket ngfd.service tone-generator.service
After=pre-user-session.target

[Service]
ExecStart=/usr/bin/voicecall-manager
Restart=always

[Install]
WantedBy=user-session.target
